# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*

# typescript
*.tsbuildinfo

app-example

.claude/
.vscode/

AGENTS.MD
CLAUDE.MD

.pnp.*

credentials.json
google-services.json
lokkhyo-dev.jks
android/app/google-services.json

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Keystores
*.jks
*.keystore
android/app/*.jks
android/app/*.keystore

yarn.lock

android/
ios/

